<html>
    <head>
        <meta charset="UTF-8">
        <title>Interface Membre</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">

        {% include "partials/member_header.html.twig" %}

    </head>
    <body>
        <h1 class="text-center mt-5 text-white">Tableau de bord</h1>
        <div class="container border shadow bg-white slightlyOpaque rounded">
            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="card mt-5" style="height:19rem;">
                        <div class="card-header">
                            <i class="fas fa-calendar-alt"></i>
                                Prochains événements<br>  
                        </div>
                        <ul class="list-group list-group-flush"  style="overflow:auto;">
                                {% if events|length > 0 %}
                                    {% for event in events %}
                                        <li class="list-group-item">{{event.date.format('d/m/Y')}} - {{event.location}}</li>
                                    {% endfor %}
                                {% else %}
                                    <li class="list-group-item">Aucun évenement de prévu.</li>
                                {% endif %}
                        </ul>
                            <div class="text-center mt-1">
                                <a class="btn btn-warning m-*-auto" href="{{ path('eventsToCome') }}"><i class="fas fa-plus"></i> Voir plus</a> 
                            </div>
                    </div>
                    <div class="card mt-4 mb-2" style="height:19rem;">
                        <div class="card-header">
                            <i class="fas fa-calendar-alt"></i>
                                Ils ont été généreux !<br>  
                        </div>
                        <ul class="list-group list-group-flush"  style="overflow:auto;">
                                {% if donations|length > 0 %}
                                    {% for i in 0..donations|length-1 %}
                                        <li class="list-group-item">{{donorsMail[i]}} - {{donations[i].amount}}€</li>
                                    {% endfor %}

                                {% else %}
                                    <li class="list-group-item">Aucune donation enregistrée. Soyez le premier !</li>
                                {% endif %}
                        </ul>
                            <div class="text-center mt-1">
                                <a class="btn btn-warning m-*-auto" href="{{ path('makeDonation') }}"><i class="fas fa-plus"></i> Faire un don</a> 
                            </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4 class="text-center"><i class="fas fa-paw"></i> Les nouveaux arrivants</h4>
                    {% for new in newestAnimals %}
                        {% if newestAnimals|length > 0 %}
                            <div class="card mb-2">
                                <div class="card-header text-center">
                                        <b>{{new.name}}</b> - Réfugié(e) le {{new.dateAdd.format('d/m/Y')}}
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img style="width:30%;" src="{{asset(new.imageLinks[0])}}"/>
                                    </div>
                                </div>
                            </div>
                        {% else %}

                        {% endif %}
                    {% endfor %}
                </div>
                
                <div class="col-sm-4">
                    <h4 class="text-center"><i class="fas fa-flag"></i> Les anciens du refuge</h4>
                    {% for old in oldestAnimals %}
                        {% if oldestAnimals|length > 0 %}
                            <div class="card mb-2">
                                <div class="card-header text-center">
                                        <b>{{old.name}}</b> - En attente depuis le {{old.dateAdd.format('d/m/Y')}}
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="align-right" style="width:30%;" src="{{asset(old.imageLinks[0])}}"/>
                                    </div>
                                </div>
                            </div>
                        {% else %}

                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
