<link rel="icon" href="/img/favicon-32x32.png" />
<link rel="stylesheet" href="/css/dashboards.css"/>

<nav class="navbar navbar-expand-lg shadow">
    <a class="navbar-brand hvr-icon-spin hvr-grow" href="{{ path('member') }}">
        <img src="/img/logo.png" alt="" class="hvr-icon rounded-circle shadow img-fluid mt-2 mb-2" style="width: 32px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link hvr-icon-pulse-grow" href="{{ path('animalsToAdopt') }}">
                    <i class="far fa-paw text-primary hvr-icon"></i>
                    Animaux à l'adoption
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-icon-pulse-grow" href="{{ path('eventsToCome') }}">
                    <i class="fas fa-calendar-alt text-warning hvr-icon"></i>
                    Évenements à venir
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-icon-pulse-grow" href="{{path('makeDonation')}}">
                    <i class="fas fa-money-bill-alt text-danger hvr-icon"></i>
                    Faire une donation
                </a>
            </li>
             <li class="nav-item">
                <a class="nav-link hvr-icon-pulse-grow" href="{{path('becomeFoster')}}">
                    <i class="fas text-primary fa-home hvr-icon"></i>
                    Devenir famille d'accueil
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link hvr-icon-pulse-grow" href="#">
                    <i class="far fa-user-circle text-warning hvr-icon"></i>
                    Mon profil
                </a>
            </li>
            <li><a class="nav-link hvr-icon-wobble-horizontal" href="/logout">
                    <span class="fas fa-sign-out-alt hvr-icon"></span> Déconnexion
                </a>
            </li>
        </ul>
  </div>
</nav>


<!-- Flash message -->
{% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }}">
        {% for message in messages %}
            <p>{{ message|raw }}</p>
        {% endfor %}
    </div>
{% endfor %}
<!-- /Flash message -->