<html>
    <head>
        <meta charset="UTF-8">
        <title>Liste des animaux à l'adoption</title>

        {% include "partials/admin_header.html.twig" %}

    </head>
    <body>
        <h1 class="text-center mt-5 text-white">Animaux à l'adoption</h1>
       <div class="container border shadow mt-5 bg-white rounded slightlyOpaque">
            <div class="row">
                <div class="col-sm mt-4">
                    <div class="text-center">
                        <button class="btn btn-warning m-*-auto" data-toggle="modal" data-target="#addAnimalModalForm"><i class="fas fa-plus"></i> Ajouter un animal </button>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <table id="selectedColumn" class="table table-striped" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col"><i class="fas fa-sort"></i> #</th>
                                <th scope="col"><i class="fas fa-sort"></i> Type</th>
                                <th scope="col"><i class="fas fa-sort"></i> Nom</th>
                                <th scope="col"><i class="fas fa-sort"></i> Race</th>
                                <th scope="col"><i class="fas fa-sort"></i> Age</th>
                                <th scope="col"><i class="fas fa-sort"></i> Sexe</th>
                                <th scope="col"><i class="fas fa-sort"></i> Prix</th>
                                <th scope="col"><i class="fas fa-sort"></i> Date d'ajout</th>   
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for animal in animals %}
                            {% if animals|length > 0 %}
                                <tr  scope="row">
                                {# <div> <img src={{asset(animal.imageLinks[0])}}></div> #}
                                <th>{{loop.index0 + 1}}</th>
                                <td>{{animal.type}}</td>
                                <td>{{animal.name}}</td>
                                <td>{{animal.race}}</td>
                                <td>{{animal.age}}</td>
                                <td>{{animal.sex}}</td>
                                <td>{{animal.adoptionPrice}} €</td>
                                <td>{{animal.dateAdd.format('d/m/Y')}}</td>
                                <td style="flex-direction:row;">
                                    <button class="btn btn-success"  data-toggle="modal" data-target="#animalDescriptionModal"><i class="fas fa-ellipsis-h"></i></button>
                                    <button class="btn btn-warning" data-toggle="modal" data-target="#editAnimalModalForm"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-danger" onClick="onClickDeleteModalConfirmationOpen({{animal.id}})" data-toggle="modal" data-target="#deleteAnimalModalForm"><i class="fas fa-trash"></i></button>
                                </td>
                                </tr>
                            
                            {% else %}
                                <tr>
                                    <th scope="row">Aucun animal pour le moment !</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>

    <div class="modal fade" id="addAnimalModalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un animal à l'adoption</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(addAnimalForm) }}
                        <div class="form-group">
                            <label for="animalType">Espèce</label>
                            {{ form_errors(addAnimalForm.type) }}
                            {{ form_widget(addAnimalForm.type) }}
                        </div>
                        <div class="form-group">
                            <label>Race</label>
                            {{ form_errors(addAnimalForm.race) }}
                            {{ form_widget(addAnimalForm.race) }}
                        </div>
                         <div class="form-group">
                            <label for="animalName">Nom</label>
                            {{ form_errors(addAnimalForm.name) }}
                            {{ form_widget(addAnimalForm.name) }}
                        </div>

                        <div class="form-group d-inline-block"   style="width:66%;">
                            <label for="animalAge">Âge</label>
                            {{ form_errors(addAnimalForm.age) }}
                            {{ form_widget(addAnimalForm.age) }}
                        </div>

                        <div class="form-group d-inline-block">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                {{ form_errors(addAnimalForm.sex) }}
                                {{ form_widget(addAnimalForm.sex) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-check">
                                {{ form_errors(addAnimalForm.okCats) }}
                                {{ form_widget(addAnimalForm.okCats) }}
                            </div>
                            <div class="col form-check">
                                {{ form_errors(addAnimalForm.okDogs) }}
                                {{ form_widget(addAnimalForm.okDogs) }}
                            </div>
                            <div class="col form-check">
                                {{ form_errors(addAnimalForm.okKids) }}
                                {{ form_widget(addAnimalForm.okKids) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-check d-inline-block">
                                {{ form_errors(addAnimalForm.needCare) }}
                                {{ form_widget(addAnimalForm.needCare) }}
                            </div>
                        </div>
                        <div class="form-group d-inline-block mt-2"   style="width:66%;">
                            <label>
                            {{ form_errors(addAnimalForm.adoptionPrice) }}
                            {{ form_widget(addAnimalForm.adoptionPrice) }}
                        </div>

                        <div class="form-group">
                            {{ form_errors(addAnimalForm.description) }}
                            {{ form_widget(addAnimalForm.description) }}
                        </div>

                        <div class="form-group">
                            <label>Télécharger une photo</label>
                            {{ form_errors(addAnimalForm.imageLinks) }}
                            {{ form_widget(addAnimalForm.imageLinks) }}
                        </div>
                        <div class="mt-3 text-center">
                            <button type="submit" class="btn btn-primary m-*-auto">Enregistrer l'animal</button>
                        </div>
                    {{ form_end(addAnimalForm) }}
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="editAnimalModalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Editer une fiche animal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label for="animalType">Espèce</label>
                            <input type="text" class="form-control" id="animalType" placeholder="Chien, chat...">
                        </div>

                         <div class="form-group">
                            <label for="animalName">Nom</label>
                            <input type="text" class="form-control" id="animalName" placeholder="Nom de l'animal">
                        </div>

                        <div class="form-group d-inline-block"   style="width:66%;">
                            <label for="animalAge">Âge</label>
                            <input type="number" class="form-control" id="animalAge" placeholder="0">
                        </div>

                        <div class="form-group d-inline-block">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="radio" name="options" id="male" autocomplete="off" checked> Mâle
                                </label>
                                <label class="btn btn-warning">
                                    <input type="radio" name="options" id="female" autocomplete="off"> Femelle
                                </label>
                            </div>
                        </div>
                        <div class="form-check d-inline-block">
                            <input type="checkbox" class="form-check-input" id="okCats">
                            <label class="form-check-label" for="okCats">Ok chats</label>
                        </div>
                        <div class="form-check d-inline-block">
                            <input type="checkbox" class="form-check-input" id="okDogs">
                            <label class="form-check-label" for="okDogs">Ok chiens</label>
                        </div>
                        <div class="form-check d-inline-block">
                            <input type="checkbox" class="form-check-input" id="okKids">
                            <label class="form-check-label" for="okKids">Ok enfants</label>
                        </div>
                        <div class="form-check d-inline-block">
                            <input type="checkbox" class="form-check-input" id="needCare">
                            <label class="form-check-label" for="needCare">Traitement particulier</label>
                        </div>

                        <div class="form-group d-inline-block mt-2"   style="width:66%;">
                            <label for="adoptionPrice">Prix d'adoption</label>
                            <input type="number" class="form-control" id="adoptionPrice" placeholder="0€ si gratuit">
                        </div>

                        <div class="form-group">
                            <label for="animalDesc">Description</label>
                            <textarea class="form-control" id="animalDesc" rows="3" placeholder="255 caractères max."></textarea>
                        </div>
                        <div class="mt-3 text-center">
                            <button type="submit" class="btn btn-primary m-*-auto">Editer</button>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteAnimalModalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="contentDelete">
            </div>
        </div>
    </div>

    <div class="modal fade" id="animalDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Description :</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{animal.description}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Supprimer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</html>
{% if isModalValid == false %}
    <script>
    $('#addAnimalModalForm').modal('show');
    </script>
{% endif %}

<script>
    $(document).ready(function () {
        $('#selectedColumn').DataTable({
            "scrollY": "350px",
            "scrollCollapse": true,
        });
        $('.dataTables_length').addClass('bs-select');
    });


    function onClickDeleteModalConfirmationOpen(animalId){
        $('#contentDelete').html('');
        const url="{{ path('openDeletionModal') }}"; 
        axios.get(url+"?id="+animalId).then(function(response) {
            var d = jQuery.parseJSON(response.data);
            var modalContent = 
                '<div class="modal-header">'+
                    '<h5 class="modal-title" id="exampleModalLongTitle">Supprimer un animal</h5>'+
                    '<button type="button" class="close" data-dismiss="modal" aria-label="Close">'+
                    '<span aria-hidden="true">&times;</span>'+
                    '</button>'+
                '</div>'+
                '<div class="modal-body">'+
                    '<p id="deleteAnimal">Voulez-vous vraiment supprimer '+d.name+' ?</p>'+
                '</div>'+
                '<div class="modal-footer">'+
                    '<a type="button" class="btn btn-primary" href="/deleteAnimal/'+d.id+'">Supprimer</a>'+
                    '<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>'+
                '</div>'
            $('#contentDelete').append(modalContent);
        })
    } 

</script>

