<html>
    <head>
        <meta charset="UTF-8">
        <title>Interface Administrateur</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/hover.css">
        <link rel="stylesheet" href="/css/admin.css">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/mdb.min.js"></script>
        <script src="https://kit.fontawesome.com/6576995845.js" crossorigin="anonymous"></script>

        {% include "partials/admin_header.html.twig" %}

    </head>
    <body>
        <h1 class="text-center mt-5"><i class="fas fa-chart-line"></i> Tableau de bord administrateur </h1>
        <div class="container border shadow bg-white">
            <div class="row mt-5">
                <div class="col-sm-4">
                    <h5 class="text-center"><i class="fas fa-users"></i> Répartition des membres</h5>
                    <canvas id="doughnutChart" style="height:40%; width:40%;"></canvas>
                    {# TODO set another chart with members in the past 7 days (or maybe last month list of all the new members) #}
                </div>
                <div class="col-sm-4">
                    <div class="card" style="height:25rem">
                        <div class="card-header">
                            <i class="far fa-calendar-alt"></i>   
                            
                            {% if nextEvent %}
                                Prochain événement :<br>
                                {{ nextEvent.date|date("d/m/y h:m") }}<br>
                                {{ nextEvent.location }}
                            {% else %}
                                Pas d'évenement prévu.
                            {% endif %}
                        </div>
                        <ul class="list-group list-group-flush"  style="overflow:auto;">
                            {% if participatingUsers|length > 0 %}
                                {% for user in participatingUsers %}
                                    <li class="list-group-item">{{user}}</li>
                                {% endfor %}
                            {% else %}
                                    <li class="list-group-item">Créez un évenement pour que les membres participent !</li>
                            {% endif %}
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" >
                        <div class="card-header">
                            <i class="fas fa-hand-holding-usd"></i>
                            Plus gros donateurs
                        </div>
                        <ul class="list-group list-group-flush">
                            {% if donors|length > 0 %}
                                {% for i in 0..donors|length-1 %}
                                    <li class="list-group-item">{{loop.index0 + 1}}. {{donorsMail[i]}} - {{donors[i].1}} $</li>
                                {% endfor %}    
                            {% else %}
                                <li class="list-group-item">Aucun top donateur.</li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="card mt-5" >
                        <div class="card-header">
                            <i class="fas fa-dollar-sign"></i>
                            Derniers dons
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for donation in donations %}
                                <li class="list-group-item">{{donation.date.format('d/m/Y')}} - {{donation.amount}}€</li>
                            {% else %}
                                <li class="list-group-item">Aucune donation enregistrée.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
<script>
    var ctxP = document.getElementById("doughnutChart").getContext('2d');
    var myDoughnutChart = new Chart(ctxP, {
        type: 'doughnut',
        data: {
            labels: ["Famille d'accueil", "Membres"],
            datasets: [{
                data: [ {{percentageOfFA}} , {{percentageOfMembers}} ],
                backgroundColor: ["#46BFBD", "#FDB45C"],
                hoverBackgroundColor: ["#5AD3D1", "#FFC870"]
            }]
        },
        options: {
            responsive: true
        }
    });
</script>
