<html>
    <head>
        <meta charset="UTF-8">
        <title>Interface Administrateur</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/hover.css">
        <link rel="stylesheet" href="/css/admin.css">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/mdb.min.js"></script>
        <script src="https://kit.fontawesome.com/6576995845.js" crossorigin="anonymous"></script>

        {% include "partials/admin_header.html.twig" %}

    </head>
    <body>
        <h1 class="text-center mt-5"><i class="fas fa-chart-line"></i> Tableau de bord administrateur </h1>
        <div class="container">
            <div class="row mt-5">
                <div class="col-sm-4">
                    <h5 class="text-center"><i class="fas fa-users"></i> Répartition des membres</h5>
                    <canvas id="doughnutChart" style="height:40%; width:40%;"></canvas>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="height:25rem">
                        <div class="card-header">
                            <i class="far fa-calendar-alt"></i>   
                            
                            Prochain événement :<br>
                            {{ nextEvent.date.format('d/m/Y - h:m') }}<br>
                            {{ nextEvent.location }}
                        </div>
                        <ul class="list-group list-group-flush"  style="overflow:auto;">
                            {% for user in participatingUsers %}
                                {% if participatingUsers %}
                                    <li class="list-group-item">{{user}}</li>
                                {% else %}
                                    <li class="list-group-item">Aucun participants !</li>
                                {% endif %}
                            {% endfor %}
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" >
                        <div class="card-header">
                            <i class="fas fa-hand-holding-usd"></i>
                            Plus gros donateurs
                        </div>
                        <ul class="list-group list-group-flush">
                            {# TODO : Handle total by user display once ORM done #}
                            <li class="list-group-item">1. Username - Total amount $</li>
                            <li class="list-group-item">2. Username - Total amount $</li>
                            <li class="list-group-item">3. Username - Total amount $</li>
                        </ul>
                    </div>

                    <div class="card mt-5" >
                        <div class="card-header">
                            <i class="fas fa-dollar-sign"></i>
                            Derniers dons
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for donation in donations %}
                                {# TODO : Handle username display once ORM done #}
                                <li class="list-group-item">{{donation.date.format('d/m/Y')}} - {{donation.amount}}€</li>
                            {% else %}
                                <li class="list-group-item">Pas de donations pour le moment !</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
<script>
    var ctxP = document.getElementById("doughnutChart").getContext('2d');
    var myDoughnutChart = new Chart(ctxP, {
        type: 'doughnut',
        data: {
            labels: ["Famille d'accueil", "Membres"],
            datasets: [{
                data: [ {{percentageOfFA}} , {{percentageOfMembers}} ],
                backgroundColor: ["#46BFBD", "#FDB45C"],
                hoverBackgroundColor: ["#5AD3D1", "#FFC870"]
            }]
        },
        options: {
            responsive: true
        }
    });
</script>
